footer {
  background-color: var(--color-graphite);
  color: var(--color-light);
  padding: var(--spacing-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
    position: relative;
}

#clear-db-btn {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--color-red);
    background: transparent;
    color: var(--color-light);
    transition: all .2s ease-in-out;
    cursor: pointer;
    z-index: 9;
}

#clear-db-btn:hover {
    background-color: var(--color-red);
    color: var(--color-graphite);
}

footer p {
    position: absolute;
    left: 0;
    text-align: center;
    right: 0;
}




 @media (max-width: 479px) {
   footer {
    flex-direction: column;
}

footer p {
    position: relative;
}
}