@import "./global.css";
@import "./views/static/header/style.css";
@import "./views/static/footer/style.css";
@import "./components/watchedModal.css";
@import "./components/movieDetailsModal.css";
@import "./views/watched/style.css";
@import "./views/browse/style.css";
@import "./views/watchlist/style.css";
